rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // The accepted claim can only be set if the email is verified.
    // Therefore no need to check that as well.
    // IF THAT FUNCTION GETS CHANGED THIS NEEDS TO BE REVIEWED.
    function isAcceptedUser() {
      return request.auth != null && request.auth.token.accepted == true;
    }

    match /{allPaths=**} {
      allow read, write: if isAcceptedUser();
    }
  }
}

