rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Checks if the user is signed in and his email is verified.
    function isVerifiedUser() {
      return request.auth != null && request.auth.token.email_verified;
    }

    // Checks if the user has the accepted role (verified + accepted flag).
    function isAcceptedUser() {
      return isVerifiedUser() && request.auth.token.accepted == true;
    }

    match /{allPaths=**} {
      allow read, write: if isAcceptedUser();
    }
  }
}

